body, hr {
    margin: 0;
    text-align: center;
    background-color: rgb(210, 230, 255);
    font-size: 1rem;
}

h1, p {
    margin: 0;
}

.description {
    margin-top: 16px;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    font-size: 2em;
    font-weight: 700;
}

.title {
    background-color: rgb(0, 102, 255);
    color: white;
    margin: 0;
    padding: 4px;
    padding-block: 16px;
    margin-bottom: 32px;
}

.align {
    margin: 8px;
    position: relative;
    width: 90%;
    display: inline-block;
}

span {
    font-size: 1.5em;
    font-weight: 700;
}

#fen {
    margin-left: auto;
    margin-right: 2%;
    text-align: left;
    font-size: 1.5em;
    width: 70%;
    height: 1.5em;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border: 2px solid black;
    display: inline-block;
}

#generate {
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border: 2px solid black;
    border-radius: 20%;
    margin-right: auto;
    margin-left: 2%;
}

#generate:hover {
    background-color: rgb(255, 255, 200);
}

#generate:active {
    background-color: rgb(200, 255, 245);
}

#chessboard {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    background-color: rgb(79, 79, 79);
    border-radius: 4px;
    margin-left: 29%;
    margin-right: 29%;
    width: 42vw;
    height: 42vw;
    padding: 4px;
}

.tile {
    position: relative;
    font-size: larger;
    text-align: center;
}

.tile p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.row p, .column p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: white;
}

.white {
    background-color: rgb(238, 252, 255);
}

.black {
    background-color: rgb(150, 187, 255);
}

input[type="checkbox"] {
    width: 48px;
    height: 48px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 32px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul input {
    font-size: 32px;
    text-align: center;
    padding-left: 16px;
}

ul img {
    height: 64px;
    width: 64px;
    padding: 16px;
}

@media(max-width: 1280px) {
    #chessboard {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        background-color: black;
        margin-left: 5%;
        margin-right: 5%;
        width: 90vw;
        height: 90vw;
        padding: 4px;
    }

    .align {
        display: block;
        width: 96%;
    }

    span {
        font-size: 3em;
        display: block;
    }

    #fen {
        line-height: 1.5em;
        height: 3em;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.4em;
        width: 100%;
        font-weight: 700;
        background-color: rgb(255, 255, 255);
        padding: 4px;
        border: 2px solid black;
        display: inline-block;
        text-align: center;
    }
    
    #generate {
        font-size: 5em;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        padding: 12px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        margin-right: auto;
        margin-left: auto;
    }

    .description {
        margin-top: 48px;
        font-size: 4em;
    }

    input[type="checkbox"] {
        width: 96px;
        height: 96px;
    }

    ul input {
        font-size: 64px;
    }
    
    ul img {
        height: 128px;
        width: 128px;
        padding: 16px;
    }

    ul {
        gap: 64px;
        margin-top: 64px;
    }
}